.cmb2-options-page .stati { margin: -1.5em 0 2em; }
.cmb2-options-page .stati .status { display: inline-block; margin-right: 10px; }
.cmb2-options-page .notice + .stati { margin-top: 0; }
.cmb2-options-page .cmb-tabs { margin: 0; }
.cmb2-options-page .cmb-tabs .cmb2-wrap { display: none; }
.cmb2-options-page .cmb-tabs .cmb2-wrap + .cmb2-wrap { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }
.cmb2-options-page .cmb-tab-panel > .cmb-row { padding: 1em; margin-top: -1px; background: #ffffff; border: 1px solid #e9e9e9; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
.cmb2-options-page .cmb-tab-panel > .cmb-row > .cmb-th { padding: 0; font-weight: initial; }
.cmb2-options-page .cmb-tab-panel > .cmb-row > .cmb-th + .cmb-td { float: none; padding: 0 0 0 1em; margin-left: 200px; }
.cmb2-options-page input[name="submit-cmb"] { margin-top: 20px; }
